<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>WELCOM TO OUR SITE</h1>
    <div class="cards">
        <div class="card">
            <h3>card 1</h3>
            <p>This is first card</p>
        </div>  
        <div class="card">
            <h3>card 2</h3>
            <p>This is the second card</p>
        </div>  
        <div class="card 3">
            <h3>card 3</h3>
            <p>This is third card</p>
        </div>
    </div>
</body>
</html>